:root {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, .field, .btn {
    font-family: 'Montserrat', sans-serif;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Header */
#header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    max-width: 1600px;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 auto;
    background-color: #fff;
    opacity: 0;
    animation: fadein 1s ease-in 0.5s forwards;
}

#header img {
    height: 35px;
}


/* Navigation */
#nav-bar {
    flex-grow: 2;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#nav-bar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 10rem;
}

#nav-bar li:nth-child(1) {
    display: none;
}

a {
    text-decoration: none;
    line-height: 1.4;
}

#nav-bar a{
    color: #5599FF;
    font-size: 1.1rem;
    font-weight: 600;
    transition: color 0.25s ease-in;
}

#nav-bar a:hover {
    color: #0044aa;
}


/* Main */
main {
    padding: 0 1rem;
    opacity: 0;
    animation: fadein 1s ease-in 1s forwards;
}

h2, h3 {
    margin: 1rem 0;
}

h2 {
    text-align: center;
}

p {
    line-height: 1.4;
}


/* Showcase */
#showcase, #service {
    max-width: 1450px;
}

#showcase {
    margin-top: 2.5rem;
}

#showcase p {
    margin: 1rem 0;
}

#title h1 {
    color: #fff;
    font-size: 2.1rem;
    line-height: 1.1;
}

#title p {
    color: #fff;
}


/* Video */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    margin: 2rem 0;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Form */
#form {
    color: #fff;
}

.email-wrapper {
    margin: 0 auto;
    width: 20.5rem;
}

#email-label {
    display: block;
}

.field, .btn {
    padding: 0.4rem;
    border: 2px solid #fff;
    border-radius: 5px;
}

.btn {
    font-weight: 600;
    transition-property: color, border-color, background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
}

#email, #submit {
    margin-top: 0.25rem;
}

#submit {
    color: #fff;
    background-color: #B455FF;
    margin-left: 1rem;
}

#submit:hover {
    background-color: #aa3aff;
    border-color: #9000ff;
    cursor: pointer;
}


/* Service */
#service::before {      /* hash tag link anchor offset */
    display: block; 
    content: " "; 
    margin-top: -6rem; 
    height: 6rem; 
    visibility: hidden; 
    pointer-events: none;
}

#service {
    margin: 3rem 0;
}

#service h2 {
    color: #fff;
}


/* Box */
.box {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #5599ff;
    border-radius: 5px;
    padding: 1.8rem;
    padding-bottom: 2rem;
    margin: 2rem 0;
    text-align: center;
}

.material-icons {
    font-size: 5rem;
    color: #2776EE;
}

.box h3 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.box p {
    text-align: start;
    margin-bottom: 1.8rem;
}

.box a {
    font-size: 1rem;
    color: #2776EE;
    border-color: #2776EE;
}

.box a:hover {
    color: #fff;
    background-color: #2776EE;
}


/* Footer */
footer {
    background-color: #fff;
    padding: 1rem;
    color: #2776EE;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1600px;
}

footer .left {
    width: 50%;
}

footer .right {
    text-align: right;
    width: 50%;
    margin-top: auto;
}

footer a {
    color: #2776EE;
    font-weight: 500;
    transition: color 0.25s ease-in;
}

footer a:hover {
    color: #0044aa;  
}


/* Background */
#bgsvg1 {
    position: fixed;
    z-index: -1;
    top: -11px;
    left: -1034px;
}

#bgsvg2 {
    position: fixed;
    z-index: -2;
    top: -106px;
    left: -445px;
}

#wind1, #wind2, #wind3 {
    position: fixed;
    z-index: -1;
    bottom: -2px;
    opacity: 0;
    animation: fadein 1s ease-in forwards;
}

#wind1 {
    left: 5px;
    height: 88vh;
}

#wind2, #wind3 {
    display: none;
}

.bg {
    position: fixed;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40vh;
    background-color: #5599ff;
}


/* Media Queries */
/* Smartphone Panorama */
@media screen and (max-height: 420px) {
    #wind1 {
        left: 50px;
        height: 70vh;
    }

    .bg {
        display: none;
    }
}


/* Tablet */
@media screen and (min-width: 600px) {
    /* Header */
    #header {
        padding: 1rem 2rem;
    }

    #header img {
        height: 45px;
    }

    /* Navigation */
    #nav-bar li:nth-child(1) {
        display: inline;
    }

    #nav-bar ul {
        width: 17rem;
    }

    /* Main */
    main {
        padding: 0 2rem;
    }

    /* Showcase */
    #showcase {
        margin: 5rem auto 0 auto;
    }

    #title h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    #title p {
        margin: 1rem auto;
        width: 70%;
    }

    /* Video */
    .video-wrapper {
        margin: 2.5rem 0;
    }

    /* Service */
    #service::before {      /* hash tag link anchor offset */
        margin-top: -9rem; 
        height: 9rem; 
    }

    #service {
        margin: 4rem auto;
    }

    #service h2 {
        font-size: 2rem;
    }

    /* Box */
    .box {
        margin: 2.5rem auto;
        width: 70%;
    }

    /* Footer */
    footer {
        padding: 1rem 2rem;
    }

    /* Background */
    #bgsvg1 {
        top: 40px;
        left: -804px;
    }
    
    #bgsvg2 {
        top: -55px;
        left: -215px;
    }
}

/* Tablet Panorama */
@media screen and (min-width: 1000px) and (max-height: 770px) {
    .bg {
        display: none;
    }
}


/* Widescreen */
@media screen and (min-width: 1100px) {
    /* Header */
    #header {
        padding: 2rem;
    }
    
    #header img {
        height: 60px;
    }

    /* Navigation */
    #nav-bar ul {
        width: 25rem;
    }

    #nav-bar a {
        font-size: 1.5rem;
    }

    p, label, input, button, #footer a {
        font-size: 1.125rem;
    }

    /* Showcase */
    #showcase {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-top: 16rem;
    }

    #title {
        grid-row: 1/2;
    }

    #title h1 {
        text-align: start;
        font-size: 4rem;
    }

    #title p {
        font-size: 1.5rem;
        margin: 1rem auto;
        width: 100%;
    }

    /* Form */
    #form {
        grid-row: 2/3;
    }

    #form h2 {
        text-align: start;
    }

    .email-wrapper {
        width: 100%;
    }

    /* Video */
    #showcase .container {
        grid-row: 1/3;
    }

    .video-wrapper {
        margin: 0;
    }

    /* Service */
    #service {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1.5rem;
        column-gap: 3rem;
        margin-top: 8rem;
    }

    #service h2 {
        grid-column: 1/4;
        text-shadow: 0 0 5px #5599ff, 0 0 5px #5599ff, 0 0 5px #5599ff, 0 0 5px #5599ff;
    }

    /* Box */
    .box {
        margin: 1rem auto;
        width: 100%;
        max-width: 350px;
    }

    /* Footer */
    footer {
        padding: 2rem;
    }

    .footer-wrapper {
        padding: 0 2rem;
    }

    /* Background */
    #bgsvg1 {
        top: 194px;
        left: 0;
    }
    
    #bgsvg2 {
        top: 115px;
        left: 664px;
    }

    #wind1 {
        left: 826px;
        height: 70vh;
    }

    #wind2, #wind3 {
        display: initial;
    }

    #wind2 {
        left: 140px;
        height: 72vh;
    }

    #wind3 {
        left: 1263px;
        height: 44vh;
    }

    .bg {
        display: none;
    }
}


/* Ipad Pro Panorama */
@media screen and (min-width: 1366px) and (min-height: 1024px) {
    .bg {
        display: initial;
        height: 10vh;
    }
}